div p em {
	/* upline comment 1 */
	/* upline comment 2 */
	font-style: italic;
	border-bottom: 1px solid red; /* trololo 1 */ /* trololo 2 */
}

.block {
	position: absolute;

	span {
		display: inline-block;
	}

	width: 50%;

	&__element {
		display: none;
	}

	top: 0;
}

.platform-section2 {
	line-height: 34px;
	padding-top: 60px;

	@media (--lap) {
		padding-bottom: @padding-top;
		padding-top: 50px;
	}
	opacity: .4;
}

.platform-section {
	&__title {
		color: #000;
		font-size: 24px;
		text-align: center;
		opacity: .4;
		font-weight: normal;
		$hello: 20px;
		margin-bottom: 50px;
		line-height: 34px;
		@media (--palm) {
			$two: 30px;
			text-align: left;
			line-height: 24px;
			$one: none;
			margin-bottom: 18px;
			font-size: 18px;
		}
	}

	padding-top: 60px;

	line-height: 34px;

	padding-bottom: @padding-top;

	/* first comment */
	color: #fff;

	margin-bottom: 50px;

/* color: #000; */

	font-size: 24px;

	text-align: center; /* second comment */

	font-weight: normal;

	opacity: .4;

	@media (--lap) {
		padding-bottom: @padding-top;
		padding-top: 50px;
	}




	@media (--palm) {
		padding-bottom: @padding-top;
		padding-top: 30px;
	}
	&__title-icon {
		display: inline-block;
		margin-right: 15px;
		width: 34px;
		height: @width;
		vertical-align: top;

		@media (--palm) {
			width: 24px;
			margin-right: 10px;
			height: @width;
		}
	}
	&__block-title {
		margin-bottom: 10px;
		font-size: 36px;
		line-height: 46px;

		@media (--palm) {
			margin-bottom: 12px;
			font-weight: normal;
			font-size: 20px;
			line-height: 24px;
		}
	}
	&__block-description {
	}
}
.platform-intro {
	padding-top: 220px;
	padding-bottom: @padding-top;
	background: #3a4d53 url("img/platform/platform-intro-bg.svg") 50% 50% no-repeat;
	color: #fff;
	text-align: center;

	@media (--lap) {
		padding-top: 180px;
		padding-bottom: @padding-top;
		background-size: auto 80%;
	}
	@media (--palm) {
		padding-top: 90px;
		padding-bottom: 50px;
		background-image: none;
	}

	&__title {
		margin-bottom: 60px;
		font-size: 52px;
		line-height: 62px;

		@media (--lap) {
			margin-bottom: 50px;
			font-size: 36px;
			line-height: 50px;
		}
		@media (--palm) {
			margin-bottom: 36px;
			font-size: 24px;
			line-height: 30px;
		}
	}
	&__title-content {
		&--not-mobile {
			@media (--palm) {
				display: none;
			}
		}
		&--mobile {
			display: none;

			@media (--palm) {
				display: inline;
			}
		}
	}
	&__words-placeholder {
		span {
			background: #63777d !important;
			color: #fff !important;
		}
	}
	&__navigation {
	}
}
.platform-organize {
	@custom-media --platform-organize--lap (768px <= width <= 960px);

	background-image: linear-gradient(-45deg, #ff83b2 0%, #da82d8 49%, #b480ff 100%);

	&__row {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: flex-start;

		@media (--platform-organize--lap) {
			display: block;
			margin-bottom: 40px;
			text-align: center;
		}
		@media (--palm) {
			display: block;
			margin-bottom: 17px;
		}

		&:nth-child(2) {
			flex-direction: row-reverse;
		}
		&:nth-child(3) {
			margin-bottom: 50px;

			@media (--palm) {
				display: none;
			}
		}
	}
	&__text {
		flex: 1 1 auto;
		padding-bottom: 54px; /* vertical alignment because of screenshots switcher */

		@media (--platform-organize--lap) {
			lost-center: 90%;
			padding-bottom: 30px;
		}
	}
		&__row:nth-child(2) &__text {
			padding-right: 40px;
			padding-left: 60px;

			@media (--lap) {
				padding-right: 0;
			}
			@media (--platform-organize--lap) {
				padding-right: 0;
				padding-left: 0;
			}
			@media (--palm) {
				margin-bottom: 15px;
				padding: 0;
			}
		}
		&__row:nth-child(3) &__text {
			padding-right: 80px;

			@media (--platform-organize--lap) {
				padding-right: 0;
			}
		}
	&__media {
		flex: 0 0 auto;
	}
}
.platform-navigation {
	@media (--palm) {
		lost-utility: clearfix;
	}

	&__item {
		position: relative;
		display: inline-block;
		width: 27%;
		vertical-align: middle;

		@media (--not-palm) {
			&:not(:first-child) {
				margin-left: -40px;
			}
			&:nth-child(1) {
				z-index: 3;
				text-indent: -15px;
			}
			&:nth-child(2) {
				z-index: 2;
			}
			&:nth-child(3) {
				z-index: 1;
			}
			&:nth-child(4) {
				text-indent: 15px;
			}
		}
		@media (--lap) {
			width: auto;
		}
		@media (--palm) {
			lost-column: 1/2 2 5px;
			display: block;

			&:nth-child(-n+2) {
				margin-bottom: 30px;
			}
		}
	}
	&__link {
		display: block;
		height: 80px;
		background-position: 100% 0;
		background-repeat: no-repeat;
		color: #fff;
		font-size: 22px;
		line-height: 80px;

		@media (--lap) {
			padding: 0 50px;
		}
		@media (--not-palm) {
			&:hover {
				color: #fff;
				line-height: 76px;
			}
			&--organize {
				background-image: inline("img/platform/platform-navigation__link--organize.svg");
			}
			&--communicate {
				background-image: inline("img/platform/platform-navigation__link--communicate.svg");
			}
			&--socialize {
				background-image: inline("img/platform/platform-navigation__link--socialize.svg");
			}
			&--analyze {
				background: #52edc7;
			}
		}
		@media (--palm) {
			position: relative;
			padding-left: 40px;
			height: auto;
			text-align: left;
			font-size: 16px;
			line-height: 20px;

			&--organize {
				color: #ff83b2 !important;
			}
			&--communicate {
				color: #4ac0ee !important;
			}
			&--socialize {
				color: #fca203 !important;
			}
			&--analyze {
				color: #52edc7 !important;
			}
		}
	}
	&__item:first-child &__link {
		border-radius: 5px 0 0 5px;
	}
	&__item:last-child &__link {
		border-radius: 0 5px 5px 0;
	}
	&__icon {
		position: relative;
		top: -2px;
		margin-right: 15px;
		vertical-align: middle;
		fill: currentColor;

		@media (--lap) {
			display: none;
		}
		@media (--palm) {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
		}
	}
}
.platform-organize-media {
	&__items {
		margin-bottom: 24px;

		@media (--palm) {
			margin-bottom: 0;
		}
	}
	&__item {
	}
	&__image {
		border-radius: 5px;
		box-shadow: 0 0 13px rgba(0, 0, 0, .12);

		@media (--palm) {
			max-width: 100%;
			height: auto;
		}
	}
	&__nav {
		text-align: center;

		@media (--palm) {
			display: none;
		}
	}
	&__nav-item {
		display: inline-block;
		width: 80px;
		border: 2px solid #fff;
		font-size: 12px;
		line-height: 26px;
		cursor: pointer;
		transition: background .15s;

		&:hover {
			background: rgba(255, 255, 255, .2);
		}
		&:not(:first-child) {
			margin-left: -2px;
		}
		&:first-child {
			border-radius: 15px 0 0 15px;
		}
		&:last-child {
			border-radius: 0 15px 15px 0;
		}
		&--wide {
			width: 136px;
		}
		&.is-current {
			background: #fff;
			color: #de81d3;
			cursor: default;
		}
	}
}
.platform-organize-features {
	lost-utility: clearfix;

	&__item {
		@media (--not-palm) {
			lost-column: 1/4;
		}
		@media (--palm) {
			&:not(:last-child) {
				margin-bottom: 22px;
			}
		}
	}
	&__icon-wrapper {
		margin-bottom: 8px;
		height: 32px;
	}
	&__icon {
	}
	&__title {
		font-size: 16px;
		line-height: 22px;
	}
	&__description {
		font-size: 16px;
		line-height: 22px;
		opacity: .7;
	}

	@media (--palm) {
		&__item {
			display: flex;
			align-items: center;
		}
		&__icon-wrapper {
			min-width: 60px;
		}
		&__description {
			display: none;
		}
	}
}
.platform-communicate {
	background-image: linear-gradient(135deg, #01e7ff, #b480ff);

	&__intro {
		margin-bottom: 60px;
		text-align: center;

		@media (--palm) {
			margin-bottom: 20px;
			text-align: left;
		}
	}
}
.platform-communicate-process {
	@custom-media --platform-communicate-process--lap (768px <= width < 900px);
	@custom-media --platform-communicate-process--desk (width >= 900px);

	position: relative;
	margin: auto;
	counter-reset: steps;

	@media (--platform-communicate-process--desk) {
		width: calc(220px * 2 + 404px);
		height: calc(144px + 404px + 140px);
		background: url("img/platform/communicate-circle.png") 50% 144px no-repeat;
		background-size: 404px 403px;
	}

	&__step {
		position: relative;

		@media (--platform-communicate-process--desk) {
			&:nth-child(n+2) {
				box-sizing: content-box;
				max-width: 230px;
			}
			&:nth-child(1) {
				top: 0;
				left: 0;
				padding-bottom: 50px;
				width: 100%;
				text-align: center;

				&:before {
					bottom: 0;
					left: 50%;
					margin-left: -17px;
				}
			}
			&:nth-child(2),
			&:nth-child(3) {
				left: 580px;
				padding-left: 50px;

				&:before {
					top: 0;
					left: 0;
				}
			}
			&:nth-child(4) {
				top: 528px;
				left: 304px;
				padding-top: 50px;
				text-align: center;

				&:before {
					top: 0;
					left: 50%;
					margin-left: -17px;
				}
			}
			&:nth-child(5),
			&:nth-child(6) {
				right: 580px;
				padding-right: 50px;
				text-align: right;

				&:before {
					top: 0;
					right: 0;
				}
			}
			&:nth-child(2),
			&:nth-child(6) {
				top: 230px;
			}
			&:nth-child(3),
			&:nth-child(5) {
				top: 424px;
			}
		}
		@media (--platform-communicate-process--desk) {
			position: absolute;
		}
		@media (--platform-communicate-process--lap) {
			position: relative;
			padding-top: 3px;
			padding-left: 50px;

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		@media (--palm) {
			position: relative;
			padding-top: 7px;
			padding-left: 50px;
			height: 50px;

			&:last-child {
				height: 34px;
			}
		}

		&:before {
			position: absolute;
			display: block;
			width: 34px;
			height: @width;
			border: 1px solid #fff;
			border-radius: 50%;
			content: counter(steps, decimal);
			counter-increment: steps;
			text-align: center;
			font-weight: normal;
			line-height: 32px;

			@media (--platform-communicate-process--lap) {
				top: 0;
				left: 0;
			}
			@media (--palm) {
				top: 0;
				left: 0;
			}
		}
	}
	&__image-wrapper {
		@media (--palm) {
			margin-top: -15px;
		}
	}
		&__step:not(:first-child) &__image-wrapper {
			@media (--palm) {
				display: none;
			}
		}
	&__image {
		max-width: 100%;

		@media (--palm) {
			max-height: 56px;
		}
	}
	&__title {
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 20px;
		line-height: 25px;

		@media (--palm) {
			margin-bottom: 0;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
		}
	}
}
.platform-socialize {
	background-image: linear-gradient(135deg, #fe488b, #fca203);

	&__intro {
		margin-bottom: 47px;
		text-align: center;

		@media (--palm) {
			margin-bottom: 18px;
			text-align: left;
		}
	}
	&__description {
		@media (--desk) {
			lost-center: 70%;
		}
		@media (--lap) {
			lost-center: 90%;
		}
	}
}
.platform-socialize-types {
	lost-flex-container: row;
	align-items: stretch;

	&__list {
		@media (--desk) {
			lost-column: 5/12 flex;
			lost-offset: -1/12;
			padding-right: 30px;
		}
		@media (--lap) {
			lost-column: 1/2 flex;
		}
		@media (--palm) {
			display: none;
		}
	}
	&__item {
		margin-bottom: 2px;
		padding: 20px 30px;
		cursor: pointer;

		&.is-current {
			border-radius: 5px 0 0 5px;
			background: inline("img/socialize-types-item-bg.svg") 100% 0 no-repeat;
			background-size: auto 100%;
		}

		@media (--palm) {
			padding: 0;
			background: none !important;

			&:not(:last-child) {
				margin-bottom: 17px;
			}
		}
	}
	&__title {
		margin-bottom: 3px;
	}
	&__description {
		opacity: .7;
	}
	&__images {
		position: relative;

		@media (--desk) {
			lost-column: 5/12 flex;
		}
		@media (--lap) {
			lost-column: 1/2 flex;
			text-align: center;
		}
		@media (--palm) {
			lost-column: 2 flex;
			text-align: center;
			margin: 0 auto;
			height: 300px;
			width: 300px;
			margin: 0 auto !important;
		}
	}
	&__image-wrapper {
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		max-width: 100%;
		max-height: 100%;
		opacity: 1;
		transition: opacity .2s;
		transform: translateY(-50%);

		&.is-visible ~ & {
			opacity: 0;
		}
		@media (--palm) {
			opacity: 1 !important;
		}
	}
	&__image {
		max-width: 100%;
	}
}
.platform-analyze {
	background-image: linear-gradient(225deg, #52edc7, #4ac0ee);

	&__content {
		@media (--not-palm) {
			lost-flex-container: row;
			align-items: center;
		}
	}
	&__text {
		@media (--not-palm) {
			lost-column: 5/12 flex;
			lost-move: 6/12;
			padding-left: 30px;
		}
		@media (--lap) {
			lost-column: 6/12 flex;
			padding-left: 0;
		}
		@media (--palm) {
			margin-bottom: 25px;
		}
	}
	&__image-wrapper {
		@media (--not-palm) {
			lost-column: 6/12 flex;
			lost-move: -5/12;
			padding-right: 30px;
			text-align: right;
		}
		@media (--lap) {
			lost-move: -6/12;
		}
	}
	&__image {
		max-width: 100%;
		border-radius: 5px;
		box-shadow: 0 0 13px rgba(0, 0, 0, .12);
	}
}
.platform-features {
	@custom-media --platform-features-desk (width >= 1100px);
	@custom-media --platform-features-lap (768px <= width <= 1100px);
	@custom-media --platform-features-lap2 (768px <= width <= 820px);

	lost-utility: clearfix;

	&__nav {
		position: sticky;
		top: 100px;

		@media (--platform-features-desk) {
			lost-column: 3/12;
		}
		@media (--platform-features-lap) {
			lost-column: 4/12;
		}
		@media (--platform-features-lap2) {
			lost-column: 5/12;
		}
	}
	&__container {
		@media (--platform-features-desk) {
			lost-column: 9/12;
		}
		@media (--platform-features-lap) {
			lost-column: 8/12;
		}
		@media (--platform-features-lap2) {
			lost-column: 7/12;
		}
	}
	&__section {
		margin-bottom: calc(50px - 27px);

		&:first-child {
			padding-top: 15px;
		}
	}
	&__section-title {
		margin-bottom: 22px;
		color: #4ac0ee;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 14px;
	}
	&__section-icon {
		position: relative;
		top: -2px;
		margin-right: 6px;
		vertical-align: middle;

		@media (--palm) {
			display: none;
		}
	}
	&__list {
		lost-utility: clearfix;

		@media (--palm) {
			margin-top: 18px;
		}
	}
	&__item {
		margin-bottom: 27px;

		@media (--platform-features-desk) {
			lost-column: 1/3;
		}
		@media (--platform-features-lap) {
			lost-column: 1/2;
		}
		@media (--palm) {
			margin-bottom: 19px;

			@mixin last;
		}
	}
	&__feature-title {
		margin-bottom: 7px;

		@media (--palm) {
			margin-bottom: 3px;
			color: $default-color;
		}
	}
	&__feature-description {
		color: #7f8c8d;
		font-size: 14px;
		line-height: 18px;
	}
}

.early-access-button {
	display: none;
	margin-bottom: 30px;
	&.mobile {
		@media (--palm) {
			display: block;
		}
	}
}
